<h1><%= @stores[0] %> Total Stores within 25 miles of that zip </h1>
<br>
<ul id="store-list">
  <% @stores[1].each do |store| %>
    <li><%= store.name %></li>
    <li><%= store.city %></li>
    <li><%= store.phone %></li>
    <li><%= store.store_type %></li>
    <li><%= store.distance %> from the zip you entered</li>
    <br><br>
  <% end %>
